.navigation {
  max-width: 100%;
  background-color: #5ca8ff;
  border: 5px solid #117cf7;
  border-radius: 15px;
  margin-top: 20px;
  text-align: center;
}

.navigation__list {
  padding-left: 0px;
  list-style-position: inside;
  list-style-type: none;
}

.navigation__listItem {
  display: inline-block;
  margin: 20px;
  list-style-position: inside;
}

.navigation__link {
  text-decoration: none;
  color: #eee;
}

.navigation__link:visited {
  border: #043164;
}

.navigation__link:hover {
  color: #043164;
  outline: none;
}

.navigation__link:active {
  color: black;
}
