.sectionOne {
  background-color: #a2ccfd;
  border: 5px solid #117cf7;
  border-radius: 15px;
  margin-top: 20px;
  padding: 10px;
}

.sectionOne__title {
  font-weight: bold;
  font-size: 20px;
  color: #144883;
}

.sectionOne__paragraph {
  font-weight: bold;
}

.sectionOne__list {
  padding-left: 0px;
  list-style-position: inside;
  list-style-type: none;
}

.sectionOne__listItem {
  margin: 20px;
}
